
back_timec/.settings/
.DS_Store
back_timec/.classpath
back_timec/.project
back_timec/target/*
front_timec/node_modules/*
front_timec/src/js/views/test2.js
front_timec/src/js/views/test.js
front_timec/src/js/views/DemoForm.js
/.metadata/
/back_timec/bin
back_timec/src/main/resources/application.properties
front_timec/package-lock.json
back_timec/src/main/resources/logback_prod.xml
back_timec/src/main/resources/logback.xml
front_timec/bin/
front_timec/dist/assets/*
back_timec/profileUpload/
back_timec/imageUpload/
front_timec/dist/
back_timec/src/main/resources/logback.xml
/back_timec/.metadata
/back_mobile_timec/target
/back_timec/target
