<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<h3 style="font-weight: normal; margin: 20px 0;"
		th:text="${brand.welcomeMessage}"></h3>
	<p style="font-size: 11px; line-height: 18px; color: red">Lưu ý:
		Đây là email tự động, xin vui lòng không trả lời email này.</p>
	<p style="font-size: 12px; line-height: 18px;">
		Chúng tôi có nhận thông báo từ quý khách (hoặc người khác được quý
		khách uỷ quyền) đã quên mật khẩu đăng nhập vào hệ thống <a
			th:href="${brand.domain}" th:text="${brand.domain}"></a>.<br />
	</p>
	<p style="font-size: 12px; line-height: 18px;">
		1. Nếu do người khác mạo danh, quý khách vui lòng bỏ qua email này.<br />
	</p>

	<p style="font-size: 12px; line-height: 18px;">
		2. Nếu đúng, quý khách vui lòng nhấn vào <a
			th:href="${resetPasswordUrl}" th:text="${resetPasswordUrl}"></a> để
		thay đổi mật khẩu mới.
	</p>

	<p style="font-size: 11px; line-height: 18px;">Xin cám ơn quý khách
		đã tin dùng !</p>
</body>
</html>
