<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table width="100%" cellspacing="0" cellpadding="0" border="0"
		bgcolor="#ffffff" align="center">
		<tbody>
			<tr>
				<td valign="top" align="center">
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#ffffff">
						<tbody>
							<tr>
								<td valign="top" align="center">
									<table width="600" cellspacing="0" cellpadding="0" border="0"
										align="center">
										<tbody>
											<tr>
												<td>
													<table width="100%" cellspacing="0" cellpadding="0"
														border="0">
														<tbody>
															<tr>
																<td width="120" valign="middle" align="center"
																	style="padding-bottom: 10px; padding-top: 10px">
																	<div align="center">
																		<a target="_blank" href="https://tadu.vn"> <img
																			class="CToWUd" width="120" border="0" height="45"
																			style="display: block" alt=""
																			src="https://lh3.googleusercontent.com/-dyz8i73CS58/VadgzroT8GI/AAAAAAAAASk/_tncgHRxovY/w346-h192/logo-small.png">
																		</a>
																	</div>
																</td>
																<td width="520" valign="middle">
																	<table width="100%" cellspacing="0" cellpadding="0"
																		border="0">
																		<tbody>
																			<tr>
																				<td align="right"
																					style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px">
																					<font color="#ffffff" face="Arial, sans-serif "
																					style="font-size: 18px; line-height: 18px">
																						<a target="_blank" style="text-decoration: none"
																						href="tel:18006980"> <font color="#333333">Tổng
																								đài hỗ trợ 24/7: <strong>1800 6980</strong>
																						</font>
																					</a>
																				</font>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#333333">
						<tbody>
							<tr>
								<td style="line-height: 10px">
									<div style="min-height: 10px">
										<img class="CToWUd" border="0" height="10"
											style="display: block"
											src="https://ci3.googleusercontent.com/proxy/7VFdRF3Qv44s0kdxJpjScXMC1W9yJG01hpQ7URMV0pe1-alAc1ef52bRvtHJ4Au8R0hbiv6Z2hX52HbjoTCyLSQD8956h9pfZbiEKePF6g=s0-d-e1-ft#http://imagesak.secureserver.net/promos/std/spc_trans.gif">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#007DC4">
						<tbody>
							<tr>
								<td valign="top" align="center"
									style="padding-top: 40px; padding-left: 20px; padding-right: 20px">
									<table width="600" cellspacing="0" cellpadding="0" border="0"
										bgcolor="#FFFFFF" align="center">
										<tbody>
											<tr>
												<td align="left"
													style="padding-top: 40px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px; font-size: 40px; line-height: 40px">
													<font color="#333333"
													face="'Walsheim-Bold', Arial Black, Arial, sans-serif"
													style="font-size: 40px; line-height: 40px">Tadu xin
														chào!</font>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#007DC4">
						<tbody>
							<tr>
								<td valign="top" align="center"
									style="padding-left: 20px; padding-right: 20px">
									<table width="600" cellspacing="0" cellpadding="0" border="0"
										bgcolor="#FFFFFF" align="center">
										<tbody>
											<tr>
												<td align="left"
													style="padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px">
													<font color="#333333" face="Arial, sans-serif "
													style="font-size: 14px; line-height: 20px"> Chào quý
														khách, <br> <br> Rất cám ơn vì quý khách đã sử
														dụng dịch vụ của Tadu. Chúng tôi cam kết sẽ mang đến quý
														khách một dịch vụ tốt nhất có thể . Bạn hãy giữ lại email
														này, vì sẽ có những thông tin quý khách cần đến trong
														tương lai. <br> <br> Quý khách vui lòng đưa
														email này vào "Contact list" để đảm bảo những email sau sẽ
														vào inbox. <br /> <br /> Nhằm tạo sự thuận lợi, Quý
														khách có thể đăng nhập vào hệ thống để quản lý tất cả các
														dịch vụ quý khách đang sử dụng tại Tadu, thông tin đăng
														nhập như sau: <br /> <br /> <strong>Website:</strong> <a
														href="https://me.tadu.vn/auth/login">https://me.tadu.vn</a>
														<p>
															<strong>Email đăng nhập:</strong> <span
																th:text="${email}" id="email"></span>
														</p>
														<p>
															<strong>Mật khẩu:</strong> <span th:text="${password}"
																id="password"></span>
														</p> Quý khách vui lòng click vào button bên dưới để xác nhận
														tài khoản trước khi đăng nhập.
												</font>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#007DC4">
						<tbody>
							<tr>
								<td valign="top" align="center"
									style="padding-left: 20px; padding-right: 20px">
									<table width="600" cellspacing="0" cellpadding="0" border="0"
										bgcolor="#FFFFFF" align="center">
										<tbody>
											<tr>
												<td align="left"
													style="padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px">
													<table cellspacing="0" cellpadding="0" border="0"
														bgcolor="#007DC4">
														<tbody>
															<tr>
																<td align="center" style="padding: 5px"><a
																	th:text="${activeUrl}" id="activeUrl" target="_blank"
																	style="color: #ffffff; text-decoration: none; background-color: #007DC4; border-top: 10px solid #007DC4; border-bottom: 10px solid #007DC4; border-left: 10px solid #007DC4; border-right: 10px solid #007DC4; display: inline-block"
																	href="#"> <font color="#ffffff"
																		face="'Walsheim-Medium', Arial, sans-serif"
																		style="font-size: 18px; line-height: 20px">XÁC
																			NHẬN TÀI KHOẢN</font>
																</a></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#007DC4">
						<tbody>
							<tr>
								<td valign="top" align="center"
									style="padding-left: 20px; padding-right: 20px">
									<table width="600" cellspacing="0" cellpadding="0" border="0"
										bgcolor="#FFFFFF" align="center">
										<tbody>
											<tr>
												<td align="left"
													style="padding-top: 20px; padding-bottom: 40px; padding-left: 40px; padding-right: 40px">
													<font color="#333333" face="Arial, sans-serif "
													style="font-size: 14px; line-height: 20px"> Và nếu
														quý khách có bất kỳ câu hỏi nào hoặc cần sự trợ giúp, hãy
														gọi ngay cho chúng tôi <b>1800 6980</b>. Chúng tôi luôn
														hiện diện 24/7 và sẽ rất vui khi nhận được cuộc gọi từ quý
														khách.
												</font>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0"
		bgcolor="#007DC4">
		<tbody>
			<tr>
				<td valign="bottom" align="center"
					style="padding-bottom: 0px; padding-top: 40px"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
